table{
    border: 1rem solid black;
    margin:  0 auto;
    border-collapse: collapse;
}
td{
    height: 10vh;
    width: 10vw;
}
tr:nth-child(2n) :nth-child(2n + 1),
tr:nth-child(2n + 1) :nth-child(2n){
    background-color: rgb(201, 95, 8);
}
